html, body {
  height: 100%;
}

.container {
  height: 100%;
  position: relative;
}

.chat-box {
  height: 100%;
  overflow-y: scroll;
  position: relative;
  padding-bottom: 140px;
}

.face img {
  border-radius: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px #ddd;
}

.fukidashi {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #D9F0FF; /*追記*/
}

.someone {
  background-color: #BCF5A9;
}

.someone:after {
  border-color: transparent #BCF5A9 transparent transparent;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  z-index: 1;
}
